  <h2>フォローユーザー</h2>
    <% if @users.exists? %>
      <%= render 'relationships/index', user: @user, users: @users, following_users: @following_users, follower_users: @follower_users %>
    <% else %>
      <P>ユーザーはいません</P>
    <% end %>