  <div class="container mt-4 mb-4">
    <h3 class="follow_title"><strong>フォローユーザー</strong></h3>
      <% if @users.exists? %>
        <%= render 'relationships/index', user: @user, users: @users, following_users: @following_users, follower_users: @follower_users %>
      <% else %>
        <P>ユーザーはいません</P>
      <% end %>
  </div>