  <div class="row">
    <% @post.each do |post| %>
    <div class="col-3 p-0 ml-5">
    <% if post.photo.attached? %>
    <%= image_tag post.photo, size: "320x300" %>
    <% end %>
    <%= post.title %>
    <%= image_tag post.user.get.profile_image, size: "50x50" %>
    <%= post.user.name %><br>
    難易度:
    </div>
    <% end %>
  </div>
