  <div class="container mt-4 mb-4">
    <div class="about_main">
      <p class="about_top">思いを形に<br>アイディア無限大</p>
      <p class="about_text">アイディアが詰まったDIY画像をシェアしよう！</p>
      <p class="about_text">1人1人の投稿がきっと誰かの助けになる！！</p>
    </div>
  </div>

