  <div class="home_backgraund">
    <div class="top_box">
      <h1 class="mx-auto col-6 top_text">
        思いを形に<br>
        アイディア無限大
      </h1>
    </div>

      <div class="text-center mt-5">
          <%= link_to "ログイン 〉", new_user_session_path, class: "mr-5 btn_log_in " %>
          <%= link_to "新規登録 〉", new_user_registration_path, class: "btn_sign_up" %>
      </div>
  </div>

