@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';



//共通部分レイアウト
body {
  font-size: 16px;
  line-height: 24px;
  background-color: #f7f6f2;
}

header {
  background-color: #f7f6f2;
}

