@import '~bootstrap/scss/bootstrap';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
//フォントの種類
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@400&display=swap');

//共通部分レイアウト
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 24px;
  background-color: #f7f6f2;
  font-family: cursive, 'M PLUS 2', sans-serif;
  color: #000;
  box-sizing: border-box;
  height: 100%;
}


html {
  height: 100%;
}

.wrap {
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;
  box-sizing: border-box;
}

header {
  background-color: #f7f6f2;
}

footer {
  width: 100%;
  background-color: #deb887;
  height: 70px;
  line-height: 70px;
  position: absolute;
  bottom: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

/*投稿画像*/
.post_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-header {
  background-color: #fbfaf5;
}

/*プロフィールアイコン*/
.icon_large  {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.icon_medium {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.icon_small {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.common_title {
  border-bottom: solid 2px #668ad8;
  padding-bottom: 20px;
  font-size: 24px;
}

/*ボタンサイズ*/
.btn_size {
  display: inline-block;
  padding: 6px 15px;
  text-decoration: none;
  color: #FFF;
  border-radius: 3px;
}

.btn_small {
  display: inline-block;
  padding: 0px 5px;
  text-decoration: none;
  color: #FFF;
  border-radius: 3px;
  font-size: 9px;
}

/*青色更新、登録ボタン*/
.btn_blue {
  background: #668ad8;/*ボタン色*/
  border-bottom: solid 4px #627295;
}

/*フォローボタン*/
.btn_follow {
  display: inline-block;
  padding: 3px 10px;
  text-decoration: none;
  color: #668ad8;
  border: solid 2px #668ad8;
  border-radius: 5px;
  transition: .4s;
}

/*投稿するボタン*/
.btn_post {
  display: inline-block;
  text-decoration: none;
  background: #ffa07a;
  border-bottom: solid 2px #fa8072;
  border-radius: 10px;
  transition: .4s;
}

/*topへ戻るボタン*/
#page_top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: none;
  padding: 4px;
  background-color: #fff;
  color: #737373;
  border: solid 1px;
  border-radius: 50%;
  line-height: 4px;
  text-align: center;
  &::hover {
    opacity: 1;
  }
}
