@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';



//共通部分レイアウト
body {
  font-size: 16px;
  line-height: 24px;
  background-color: #f7f6f2;
}

a {
  text-decoration: none;
  color: #000000;
}

.icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

header {
  background-color: #f7f6f2;
}

footer {
  background-color: #deb887;
}

h2 {
  border-bottom: solid 2px #668ad8;
  padding-bottom: 20px;
  font-size: 24px;
}

/*ボタンサイズ*/
.btn_size {
  display: inline-block;
  padding: 6px 15px;
  text-decoration: none;
  color: #FFF;
  border-radius: 3px;
}

/*青色更新、登録ボタン*/
.btn_blue {
  background: #668ad8;/*ボタン色*/
  border-bottom: solid 4px #627295;
}

/*緑色編集ボタン*/
.btn_green {
  background: #3cb371;
  border-bottom: solid 4px #2e8b57;
}

/*削除ボタン*/
.btn_red {
  background: #f08080;
  border-bottom: solid 4px #cd5c5c;
}


