/*ホームの背景画像*/
.home_backgraund {
    height: 600px;
    background-image: url("../images/top_back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8;
}

.top_box {
    @media screen and (max-width: 768px) {
    padding-top: 20%;
    }
}
h1 {
    font-size:5em;
  background-color:  lightgray;
  line-height: 1.5em;
  font-weight:bold;
  color: #393f4c;
  text-shadow: 0.02em 0.02em 0.02em rgba(0,0,0,1);
}
/*.top_text {
    letter-spacing: 0.2em;
    line-height: 1.8;
    background-color: rgba(0, 0, 0, 0);
    outline: 0;
    border: 2px solid black;
    position: relative;

   @media screen and (max-width: 784px) {
    letter-spacing: 0.1em;
    line-height: 1.5;
    font-size: 50px;
   }
}

.top_text::after {
    content: "";
    background-color: #ffefd5;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
}*/
/*ログインボタン*/
.btn_log_in {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.btn_log_in::after {
    content: "";
    background-color: #ff7f50;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
}

/*新規登録ボタン*/
.btn_sign_up {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.btn_sign_up::after {
    content: "";
    background-color: #66cdaa;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
}

/*about*/
.about_main {
    text-align: center;
    height: 600px;
    background-image: url("../images/about_back2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &:hover {
    text-align: center;
    height: 600px;
    background-image: url("../images/about_back3.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    }
}

.about_top {
    font-size: 50px;
    line-height: 1.5;
}

.about_text {
    font-size: 24px;
}

br {
    @media screen and (max-width: 784px) {
        display: none;
    }
}



.top_btn {
    @media screen and (max-width: 576px) {
        margin-top: 50px;
    }
}