  <% if @range == "User" %>
    <div class="container mt-4">
      <h3><strong class="title_border">ユーザーの検索結果</strong></h3>
        <%= render "relationships/index", users: @users %>
    </div>
  <% else %>
    <div class="container mt-4">
      <h3><strong class="title_border">キーワードの検索結果</strong></h3>
        <%= render "posts/index", posts: @posts %>
    </div>
  <% end %>
