<div>
  <div class="sns text-center mb-2 mt-1">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-twitter-square"></i>
  </div>
    <p class="text-center">Copyright © 2022 Temaya</p>
</div>
